

<div class="container">
    <div class="terminal bg-light" style="font-family: Monaco, monospace; font-size: 16px; line-height: 24px;">
        <span> </span>
        <span>   _____                .__  .__                           </span>
        <span>  /  _  \ ______   ____ |  | |  |   ____   ____            </span>
        <span> /  /_\  \\____ \ /  _ \|  | |  |  /  _ \ /    \           </span>
        <span>/    |    \  |_&gt; &gt;  &lt;_&gt; )  |_|  |_(  &lt;_&gt; )   |  \          </span>
        <span>\____|__  /   __/ \____/|____/____/\____/|___|  /          </span>
        <span>        \/|__|                                \/           </span>
        <span>________                                                   </span>
        <span>\______ \  __ __  ____    ____   ____  ____   ____   ______</span>
        <span> |    |  \|  |  \/    \  / ___\_/ __ \/  _ \ /    \ /  ___/</span>
        <span> |    `   \  |  /   |  \/ /_/  &gt;  ___(  &lt;_&gt; )   |  \\___ \ </span>
        <span>/_______  /____/|___|  /\___  / \___  &gt;____/|___|  /____  &gt;</span>
        <span>        \/           \//_____/      \/           \/     \/ </span>
    </div>
</div>

@code {

}
