@page "/create"

<AuthorizeView>
    <Authorized>
        <div class="container-fluid bg-light ">
            <div class="row min-vh-100">
                <nav class="col-md-2 d-none d-md-block bg-secondary sidebar">
                    <div class="sidebar-sticky">
                        <ul class="nav flex-column">
                            <li class="nav-item">
                                <a class="nav-link active" href="create#General">
                                    <span data-feather="home"></span>
                                    Settings
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Classes">
                                    Classes
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Races">
                                    Races
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Items">
                                    Items
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="create#Rooms">
                                    Rooms
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                        <h1 class="h2">Dungeon 1</h1>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <button class="btn btn-sm btn-outline-secondary">Invite</button>
                            </div>
                        </div>
                    </div>
                    <section class="General" id="General">
                        <form>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>
                    </section>

                    <section class="Classes w-75 mt-3" id="Classes">
                        <h2>Classes</h2>
                        <form>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>



                            </select>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Damage</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Damage">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Health</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Health">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>
                    </section>
                    <section class="Races w-75 mt-3" id="Races">
                        <h2>Races</h2>
                        <form>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Open this select menu</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Damage</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Damage">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Health</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Health">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                        </form>
                    </section>
                    <section class="Items w-75 mt-3" id="Items">
                        <h2>Items</h2>
                        <form>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Item-List</option>
                                <option value="1">Item1</option>
                                <option value="2">Item3</option>
                                <option value="3">Item4</option>
                            </select>
                            <label class="col-form-label">Item Type</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Item Type</option>
                                <option value="1">Inspectable</option>
                                <option value="2">Consumable</option>
                                <option value="3">Takeable</option>
                            </select>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">ThirdOption</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ThirdOption">
                            </div>
                        </form>
                    </section>

                    <section class="Rooms w-75 mt-3" id="Rooms">
                        <h2>Rooms</h2>
                        <form>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Room-List</option>
                                <option value="1">Room1</option>
                                <option value="2">Room2</option>
                                <option value="3">Room3</option>
                            </select>
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">Description</label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>North</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Room-List</option>
                                        <option value="1">Room1</option>
                                        <option value="2">Room2</option>
                                        <option value="3">Room3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>East</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Room-List</option>
                                        <option value="1">Room1</option>
                                        <option value="2">Room2</option>
                                        <option value="3">Room3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>South</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Room-List</option>
                                        <option value="1">Room1</option>
                                        <option value="2">Room2</option>
                                        <option value="3">Room3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-2">
                                    <label>West</label>
                                </div>
                                <div class="col">
                                    <select class="form-select" aria-label="Default select example">
                                        <option selected>Room-List</option>
                                        <option value="1">Room1</option>
                                        <option value="2">Room2</option>
                                        <option value="3">Room3</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </section>


                </main>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            You need to be logged in to see this page.<a href="Identity/Account/Login" class="alert-link">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
    @code {
    }
