
.play {
    border-top: 2px solid #495869;
    width: 100%;
    position: absolute;
    top: 58px;
    bottom: 0;
}

.play .terminal {

    flex: 0 1 auto;
    position: relative;
    max-height: 80vh;
    min-height: 80vh;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #000;
    color: #c3cbd5;
    white-space: pre-wrap;
    
}

.terminal .span {

    text-align:left;
}

.play .prompt {
    width: 70%;
    display: flex;
    flex-shrink: 0;
    padding: 16px;
    z-index: 10;
    background-color: #fff;
}

.play .prompt #send {
    margin-left: 8px;
}

.play .prompt #prompt {
    flex: 1;
    margin-right: 8px;
}