@page "/game1"

<AuthorizeView>
    <Authorized>
        <div class="container">
                <div class="play">
                    <div class="window ">
                        <div class="terminal" style="font-family: Monaco, monospace; font-size: 16px; line-height: 24px;">
                            <span> </span>
                            <span>   _____                .__  .__                           </span>
                            <span>  /  _  \ ______   ____ |  | |  |   ____   ____            </span>
                            <span> /  /_\  \\____ \ /  _ \|  | |  |  /  _ \ /    \           </span>
                            <span>/    |    \  |_&gt; &gt;  &lt;_&gt; )  |_|  |_(  &lt;_&gt; )   |  \          </span>
                            <span>\____|__  /   __/ \____/|____/____/\____/|___|  /          </span>
                            <span>        \/|__|                                \/           </span>
                            <span>________                                                   </span>
                            <span>\______ \  __ __  ____    ____   ____  ____   ____   ______</span>
                            <span> |    |  \|  |  \/    \  / ___\_/ __ \/  _ \ /    \ /  ___/</span>
                            <span> |    `   \  |  /   |  \/ /_/  &gt;  ___(  &lt;_&gt; )   |  \\___ \ </span>
                            <span>/_______  /____/|___|  /\___  / \___  &gt;____/|___|  /____  &gt;</span>
                            <span>        \/           \//_____/      \/           \/     \/ </span>
                        </div>
                        <div class="prompt d-flex">
                            <input id="prompt" type="text" class="form-control" autocorrect="off" autocapitalize="off" autocomplete="off" spellcheck="false" value="">
                            <button id="send" class="btn btn-primary">Send</button>
                        </div>
                    </div>
                </div>
  
                    
    
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="alert alert-danger" role="alert">
            You need to be logged in to see this page.<a href="Identity/Account/Login" class="alert-link">Login</a>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {

}