@page "/"

    <div class="container-fluid">
        <div class="jumbotron mt-5 mb-5 ">
            <div class="container">
                <h1 class="display-3 text-white">Hello, Stranger!</h1>
                <p class="text-white">This is a website for all Multi-User-Dungeon Enthusiasts. You can either create your own dungeon or play on one of the many existing ones.</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
            </div>
        </div>


    </div>
    <div class="container-fluid bg-light">
        <div class="container ">
            <div class="row ">
                <div class="col-md-4 mt-5">
                    <h2>Project</h2>
                    <p>This Website hosts the Prototype of Project-Apollon. Apollon is a 6-Person Software-Engineering Project of the course TINF2019. The following Button leads you to the Team-Homepage</p>
                    <p><a class="btn btn-secondary" href="https://apollon-dungeons.de/" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4 mt-5">
                    <h2>Apollon</h2>
                    <p>Apollon is greek-roman God, born on the Island of Delos: a holy shrine. This project funds in the same manner, born on our shrine of cohesion, teamwork and the highest grade of motivation to produce the best-possible product for our costumer.</p>
                    <p><a class="btn btn-secondary disabled" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4 mt-5">
                    <h2>Goal</h2>
                    <p>Its the goal of this project to develop a high-end Multi User Dungeon Configurator. We want to enable every player to create his own Dungeon and be the Dungeon Master until all eternity. Or at least as long as other players want to take part of his dungeon.</p>
                    <p><a class="btn btn-secondary disabled" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>
        </div>
        <hr>

    </div>

@code{
}





