.play {
    border-top: 2px solid #495869;
    width: 100%;
    position: absolute;
    top: 58px;
    bottom: 0;
}

.play .window {
    display: flex;
    height: 100%;
    flex-direction: column;
}

.play .terminal {
    width: 70%;
    padding: 16px;
    flex-grow: 1;
    overflow-y: scroll;
    background-color: #000;
    color: #c3cbd5;
    white-space: pre-wrap;
    z-index: 2;
}

.play .prompt {
    width: 70%;
    display: flex;
    flex-shrink: 0;
    padding: 16px;
    z-index: 10;
    background-color: #fff;
}

.play .prompt #send {
    margin-left: 8px;
}

.play .prompt #prompt {
    flex: 1;
    margin-right: 8px;
}